DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
CLERK_SECRET_KEY="sk_test_..."
CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_PEM_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----"
CLOUDINARY_CLOUD_NAME="my_cloud_name"
CLOUDINARY_API_KEY="1234567890"
CLOUDINARY_API_SECRET="my_cloudinary_secret"
STREAM_API_KEY="stream_api_key_123"
STREAM_API_SECRET="stream_api_secret_456"
